/* ---------------------------------------------------------------------------------------------- */
/* line 74, admin-adjust.scss */
.media-browser-item-directory:has(button.action-toggle[title*="avatars"]) .file-background,
.media-browser-item-directory:has(button.action-toggle[title*="brand-logos"]) .file-background,
.media-browser-item-directory:has(button.action-toggle[title*="icons"]) .file-background,
.media-browser-item-directory:has(button.action-toggle[title*="postcards"]) .file-background,
.media-browser-item-directory:has(button.action-toggle[title*="sites"]) .file-background {
  background-color: #c2efd9;
}

/* ---------------------------------------------------------------------------------------------- */
html:not(:has(body.modal-open)) {
    overflow-y: scroll;
}

.joomla-dialog-media-field.loaded > dialog {height: unset !important;}