<?xml version="1.0" encoding="UTF-8"?>
<form>
    <fields name="params">
        <fieldset name="basic">
            <field
                name="cta_text"
                type="text"
                label="PLG_SYSTEM_ADMINADJUST_MODULE_CTA_TEXT_LABEL"
                description="PLG_SYSTEM_ADMINADJUST_MODULE_CTA_TEXT_DESC"
            />
            <field
                name="cta_url"
                type="url"
                label="PLG_SYSTEM_ADMINADJUST_MODULE_CTA_URL_LABEL"
                description="PLG_SYSTEM_ADMINADJUST_MODULE_CTA_URL_DESC"
            />
            <field
                name="cta_position"
                type="list"
                label="PLG_SYSTEM_ADMINADJUST_MODULE_CTA_POSITION_LABEL"
                description="PLG_SYSTEM_ADMINADJUST_MODULE_CTA_POSITION_DESC"
            >
                <option value="header">PLG_SYSTEM_ADMINADJUST_MODULE_CTA_POSITION_OPTION_HEADER</option>
                <option value="bottom">PLG_SYSTEM_ADMINADJUST_MODULE_CTA_POSITION_OPTION_BOTTOM</option>
            </field>
            <field
                name="wrapper"
                type="list"
                label="PLG_SYSTEM_ADMINADJUST_MODULE_WRAPPER_LABEL"
                description="PLG_SYSTEM_ADMINADJUST_MODULE_WRAPPER_DESC"
            >
                <option value="">PLG_SYSTEM_ADMINADJUST_MODULE_WRAPPER_OPTION_NONE</option>
                <option value="panel">PLG_SYSTEM_ADMINADJUST_MODULE_WRAPPER_OPTION_PANEL</option>
            </field>
            <field
                name="theme"
                type="list"
                label="PLG_SYSTEM_ADMINADJUST_MODULE_WRAPPER_THEME_LABEL"
                description="PLG_SYSTEM_ADMINADJUST_MODULE_WRAPPER_THEME_DESC"
            >
                <option value="">PLG_SYSTEM_ADMINADJUST_MODULE_WRAPPER_THEME_OPTION_DEFAULT</option>
                <option value="white">PLG_SYSTEM_ADMINADJUST_MODULE_WRAPPER_THEME_OPTION_WHITE</option>
                <option value="very-light">PLG_SYSTEM_ADMINADJUST_MODULE_WRAPPER_THEME_OPTION_VERY_LIGHT</option>
                <option value="light">PLG_SYSTEM_ADMINADJUST_MODULE_WRAPPER_THEME_OPTION_LIGHT</option>
                <option value="dark">PLG_SYSTEM_ADMINADJUST_MODULE_WRAPPER_THEME_OPTION_DARK</option>
                <option value="very-dark">PLG_SYSTEM_ADMINADJUST_MODULE_WRAPPER_THEME_OPTION_VERY_DARK</option>
            </field>
            <field
                name="headline_image"
                type="media"
                label="PLG_SYSTEM_ADMINADJUST_MODULE_HEADLINE_IMAGE_LABEL"
                description="PLG_SYSTEM_ADMINADJUST_MODULE_HEADLINE_IMAGE_DESC"
            />
        </fieldset>
    </fields>
</form>