<?xml version="1.0" encoding="UTF-8"?>
<form>
    <fields name="params">
        <fieldset name="basic">
            <field
                name="headline_image"
                type="media"
                label="PLG_SYSTEM_ADMINADJUST_MODULE_HEADLINE_IMAGE_LABEL"
                description="PLG_SYSTEM_ADMINADJUST_MODULE_HEADLINE_IMAGE_DESC"
                directory="images"
            />
            <field
                name="cta_text"
                type="text"
                label="PLG_SYSTEM_ADMINADJUST_MODULE_CTA_TEXT_LABEL"
                description="PLG_SYSTEM_ADMINADJUST_MODULE_CTA_TEXT_DESC"
            />
            <field
                name="cta_url"
                type="url"
                label="PLG_SYSTEM_ADMINADJUST_MODULE_CTA_URL_LABEL"
                description="PLG_SYSTEM_ADMINADJUST_MODULE_CTA_URL_DESC"
            />
            <field
                name="cta_position"
                type="list"
                label="PLG_SYSTEM_ADMINADJUST_MODULE_CTA_POSITION_LABEL"
                description="PLG_SYSTEM_ADMINADJUST_MODULE_CTA_POSITION_DESC"
            >
                <option value="header">PLG_SYSTEM_ADMINADJUST_MODULE_CTA_POSITION_OPTION_HEADER</option>
                <option value="bottom">PLG_SYSTEM_ADMINADJUST_MODULE_CTA_POSITION_OPTION_BOTTOM</option>
            </field>
            <field
                name="wrapper"
                type="list"
                label="PLG_SYSTEM_ADMINADJUST_MODULE_WRAPPER_LABEL"
                description="PLG_SYSTEM_ADMINADJUST_MODULE_WRAPPER_DESC"
            >
                <option value="">PLG_SYSTEM_ADMINADJUST_MODULE_WRAPPER_OPTION_NONE</option>
                <option value="panel">PLG_SYSTEM_ADMINADJUST_MODULE_WRAPPER_OPTION_PANEL</option>
                <option value="panel_longform">PLG_SYSTEM_ADMINADJUST_MODULE_WRAPPER_OPTION_PANEL_LONGFORM</option>
            </field>
            <field
                name="theme"
                type="list"
                label="PLG_SYSTEM_ADMINADJUST_MODULE_WRAPPER_THEME_LABEL"
                description="PLG_SYSTEM_ADMINADJUST_MODULE_WRAPPER_THEME_DESC"
            >
                <option value="">PLG_SYSTEM_ADMINADJUST_MODULE_WRAPPER_THEME_OPTION_DEFAULT</option>
                <option value="white">PLG_SYSTEM_ADMINADJUST_MODULE_WRAPPER_THEME_OPTION_WHITE</option>
                <option value="very-light">PLG_SYSTEM_ADMINADJUST_MODULE_WRAPPER_THEME_OPTION_VERY_LIGHT</option>
                <option value="light">PLG_SYSTEM_ADMINADJUST_MODULE_WRAPPER_THEME_OPTION_LIGHT</option>
                <option value="dark">PLG_SYSTEM_ADMINADJUST_MODULE_WRAPPER_THEME_OPTION_DARK</option>
                <option value="very-dark">PLG_SYSTEM_ADMINADJUST_MODULE_WRAPPER_THEME_OPTION_VERY_DARK</option>
            </field>
            <field
                name="color"
                type="list"
                label="PLG_SYSTEM_ADMINADJUST_MODULE_WRAPPER_COLOR_LABEL"
                description="PLG_SYSTEM_ADMINADJUST_MODULE_WRAPPER_COLOR_DESC"
            >
                <option value="neutral">PLG_SYSTEM_ADMINADJUST_MODULE_WRAPPER_COLOR_OPTION_DEFAULT</option>
                <option value="brand">PLG_SYSTEM_ADMINADJUST_MODULE_WRAPPER_COLOR_OPTION_BRAND</option>
            </field>
            <field
                name="width"
                type="list"
                default="100"
                label="PLG_SYSTEM_ADMINADJUST_MODULE_WRAPPER_WIDTH_LABEL"
                description="PLG_SYSTEM_ADMINADJUST_MODULE_WRAPPER_WIDTH_DESC"
            >
                <option value="100">100%</option>
                <option value="66-666">66.666%</option>
                <option value="50">50%</option>
                <option value="33-333">33.333%</option>
                <option value="25">25%</option>
                <option value="20">20%</option>
            </field>
            <field
                name="align"
                type="list"
                default="center"
                label="PLG_SYSTEM_ADMINADJUST_MODULE_ALIGN_SELF_LABEL"
                description="PLG_SYSTEM_ADMINADJUST_MODULE_ALIGN_SELF_DESC"
            >
                <option value="start">Left</option>
                <option value="center">Centre</option>
                <option value="end">Right</option>
            </field>
            <field
                name="bottom_border"
                type="radio"
                default="0"
                label="PLG_SYSTEM_ADMINADJUST_MODULE_BORDER_BOTTOM_LABEL"
                description="PLG_SYSTEM_ADMINADJUST_MODULE_BORDER_BOTTOM_DESC"
                class="btn-group btn-group-yesno
            ">
                <option value="1">JYES</option>
                <option value="0">JNO</option>
            </field>
        </fieldset>
    </fields>
</form>